:root{
    --primario: #ffffff;
    --primarioOpaco:#e9e7e7;
    --primarioOpaco2:#d3d3d3;
    --Secundario: #2637B6;
    --terceario: #FAD747;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
} 

body{
    background-color: var(--primarioOpaco2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.hero{
    top: 5rem;
    left: 0rem;
    background-image: url(../img/Background-llantas.jpg);
    margin: 0%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 60%;
    border-radius: 1rem;
}
.logo{
    position: relative;
    top: 15%;
    left: 44%;
    margin: 0;
    width: 15rem;
    
}
.titulo{
    position: relative;
    text-align: center;
    top: 18%;
    font-size: 5rem;
    font-weight: 300;
    margin: 0;
}
.subtitulo{
    position: relative;
    text-align: center;
    top: 18%;
    font-size: 2rem;
    margin: 0;
}
.btn-contacto{
    position: relative;
    left: 37%;
    top:20%;
    width: 35rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: #2637B6;
    color:var(--primario);
    font-size: 2rem;
    border-color:none;
}

.container{
    display: grid;
    top: 70%;
    left:3rem;
    width: 95%;
    height: 50rem;
    background-color: var(--primarioOpaco);
    border-radius: 1rem;
    position: absolute;
    bottom: 3rem;
}

.elige{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}
.servicios{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    
    
}
.icon{
    width: 12rem;
    padding: 1rem;
}
.servicio{
    display: grid;
    justify-content: space-around;
    justify-items: center;
    border-radius: 1rem;
    background-color: var(--primario);

}
.parrafo{
    font-size: 2rem;
}